<ul>

<% @bookmarks.each do |hash| %>
    <li><a href="<%= hash['url'] %>"> <%= hash["title"] %></a></li>
    <% end %>
</ul>

<form action="/add" method="get">
  <input type="submit" value="Add">
</form>
